<div class="row">
  <section class="main col-md-9">
    {{#if data.item}}
    <article>
      <h2>{{data.item.title}}</h2>
      <img src="{{data.item.featureImage}}" alt="{{data.item.title}}" style="width: 100%;" />
      <br /><br />
      {{{safeHTML data.item.body}}}
      <br /><br />
      <strong>Category:</strong> {{lookupCategory data.item.category}}<br />
      <strong>Price:</strong> $ {{data.item.price}}<br />
      <strong>Last Updated:</strong> {{data.item.postDate}}
    </article>
    {{else}}
    <div class="col-md-12 text-center">
      <h2>{{data.message}}</h2>
      <p>Please try another Post / Category</p>
    </div>
    {{/if}}
  </section>

  <aside class="col-md-3">
    <br /><br />
    <h4>Items</h4>
    <ul class="list-group">
      {{#each data.items}}
      <li class="list-group-item">
        <a href="/shop/{{this.id}}?category={{this.category}}">{{this.title}}</a>
      </li>
      {{/each}}
      {{#unless data.items}}
      <li class="list-group-item">No items found</li>
      {{/unless}}
    </ul>

    <h4>Categories</h4>
    <ul class="list-group">
      {{#each data.categories}}
      <li class="list-group-item">
        <a href="/shop?category={{this.id}}">{{this.name}}</a>
      </li>
      {{/each}}
      {{#unless data.categories}}
      <li class="list-group-item">No categories found</li>
      {{/unless}}
    </ul>
  </aside>
</div>
